input{
  margin:auto;
}
.inputext{
    color:white;
    font-family: 'SF_HailSnow', sans-serif;
    font-size: 1.3rem;
    margin:auto;
}

@media (max-width: 389px){
  .inputext{
    font-size:1.11rem;
  }
}

.inputcontainer{
    margin-left: 15%;
    margin-bottom: 5%;
}
.inputs{
    margin-top: 60%;
}
.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  