.maincontainer{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.mainmoon{
    width: 130%;
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #111111;
    filter: brightness(1.25);
}

.YearTarget{
    font-family: 'SF_HailSnow', sans-serif;
    font-size: 5rem;
    text-align: center; 
    white-space: pre-wrap;
    color:white;
}

.shorttext{
    font-family: 'SF_HailSnow', sans-serif;
    white-space: pre-wrap;
    font-size: 1.55rem;
    color: white;
}
@media (max-width: 389px) {
  .YearTarget{
    font-size:4.2rem;
  }
  .shorttext{
    font-size: 1.25rem;
  }
  .mainmoon{
    width:100%;
  }
}
.textcontainer{
    font-family: 'SF_HailSnow', sans-serif;
    text-align: center;
    padding-top: 10%;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  